.wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 16px 10px 5px;
  border: 1px dotted gray;
}

.search {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  gap: 5px;
  margin-bottom: 25px;

  &__input {
    width: 301px;
    height: 50px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    padding: 17px 0 17px 12px;
    transition: border-color 0.3s;

    &:focus {
      outline: none;
      border-color: #ff5555;
    }
  }

  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    background-color: #ff5555;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading {
  width: 50px;
  height: 50px;
  border: 5px solid #ff5555;
  border-right-color: #d9d9d9;
  border-radius: 100%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 10px;
  align-items: center;
  width: 357px;
  height: 104px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 16px;
  color: #7e7e7e;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__header {
    > :not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__link {
    display: inline-block;

    &:hover {
      color: #208fbf;
    }
  }

  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000;
  }

  &__image {
    width: 60px;
    height: 60px;
    border-radius: 100%;
  }

  &__footer,
  &__stars {
    display: flex;
    align-items: center;
  }

  &__footer {
    gap: 20px;
  }

  &__stars {
    gap: 5px;
  }

  &:hover {
    box-shadow: 0px 2px 6px rgba(182, 182, 182, 0.25);
    cursor: pointer;
  }
}

.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
